.element__like {
  background-image: url(../../../Images/like.svg);
  background-size: 22px 19px;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 0;
}

.element__like:hover {
  opacity: 0.6;
}
